project_id           = "your-gcp-project-id"
billing_account_id   = "XXXXXX-XXXXXX-XXXXXX"
monthly_budget_usd   = 50
threshold_fraction   = 1.0
alert_email_to       = "jeremy@datadinosaur.com"
smtp_user            = "datadinosaur.noreply@gmail.com"
smtp_pass            = "xxxx xxxx xxxx xxxx"
smtp_from_email      = "datadinosaur.noreply@gmail.com"
smtp_from_name       = "DataDinosaur"
